{% extends 'base.html' %}

{% block content %}
<div class="outer_div">
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=15) }}
            {% for error in form.username.errors %}
            <p>
                <span style="color: red;">[{{error }}]</span>
            </p>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=20) }}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password_check.label }}<br>
            {{ form.password_check(size=20) }}
            {% for error in form.password_check.errors %}
                <span style="color: red;">[{{error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }} <a href="{{ url_for('login') }}"><button type="button">Cancel</button></p>
    </form>
</div>
{% endblock %}